@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

.footer {
  background-color: #1e364a;
  padding: 2rem 2.5rem;
  text-align: center;
  color: white; }
  .footer .contact h1 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 32px; }
  .footer .contact p {
    text-align: left;
    font-family: "Avenir", sans-serif;
    margin: 0;
    font-size: 16px; }
  .footer .social {
    margin-top: 30px;
    /* footer social icons */ }
    .footer .social i {
      font-size: 20px; }
    .footer .social ul.social-network {
      list-style: none;
      display: inline;
      margin-left: 0 !important;
      padding: 0; }
    .footer .social ul.social-network li {
      display: inline;
      margin: 0 5px; }
    .footer .social .social-network a.icoFacebook:hover {
      background-color: #3B5998; }
    .footer .social .social-network a.icoInstagram:hover {
      background-color: #c13584;
      color: white; }
    .footer .social .social-network a.icoTwitter:hover {
      background-color: #33ccff; }
    .footer .social a.socialIcon:hover, .footer .social .socialHoverClass {
      color: #44BCDD; }
    .footer .social .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 20px; }
    .footer .social .social-circle li i {
      margin: 0;
      line-height: 50px;
      text-align: center; }
    .footer .social a {
      background-color: transparent;
      border: 2px solid white; }
  .footer .values {
    margin-top: 30px;
    text-align: left; }
    .footer .values p {
      font-size: 16px; }

.footer h4 {
  color: white;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
  font-size: 24px; }
.footer p, .footer a {
  font-weight: 300;
  font-size: 16px;
  color: white; }

/* Medium Up */
@media screen and (min-width: 40em) {
  .footer {
    padding: 0px;
    height: auto; }
    .footer h4 {
      font-size: 32px; }
    .footer p, .footer a {
      font-size: 18px; }
    .footer .contact {
      padding-top: 1rem;
      padding-left: 30px;
      padding-right: 0px; }
      .footer .contact h1 {
        font-size: 32px; }
      .footer .contact p {
        font-size: 18px; }
    .footer .social {
      margin-top: 70px; }
    .footer .hex {
      margin-top: 0px;
      padding-left: 0px;
      clear: right; }
      .footer .hex img {
        height: 206px; }
    .footer .values {
      padding: 0px;
      margin-top: 70px; }
      .footer .values p {
        font-size: 18px; } }
/* Medium only */
/* Large and up */
/* Large only */
