@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
.footer {
  background-color: #1e364a;
  padding: 2rem 2.5rem;
  text-align: center;
  color: white; }
  .footer .contact h1 {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 24px; }
  .footer .contact p {
    text-align: left;
    font-family: "Avenir", sans-serif;
    margin: 0;
    font-size: 16px; }
  .footer .social {
    margin-top: 30px;
    /* footer social icons */ }
    .footer .social i {
      font-size: 20px; }
    .footer .social ul.social-network {
      list-style: none;
      display: inline;
      margin-left: 0 !important;
      padding: 0; }
    .footer .social ul.social-network li {
      display: inline;
      margin: 0 5px; }
    .footer .social .social-network a.icoFacebook:hover {
      background-color: #3B5998; }
    .footer .social .social-network a.icoInstagram:hover {
      background-color: #c13584;
      color: white; }
    .footer .social .social-network a.icoTwitter:hover {
      background-color: #33ccff; }
    .footer .social a.socialIcon:hover, .footer .social .socialHoverClass {
      color: #44BCDD; }
    .footer .social .social-circle li a {
      display: inline-block;
      position: relative;
      margin: 0 auto 0 auto;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      text-align: center;
      width: 50px;
      height: 50px;
      font-size: 20px; }
    .footer .social .social-circle li i {
      margin: 0;
      line-height: 50px;
      text-align: center; }
    .footer .social a {
      background-color: transparent;
      border: 2px solid white; }
  .footer .values {
    margin-top: 30px;
    text-align: left; }
    .footer .values p {
      font-size: 16px; }

.footer h4 {
  color: white;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px; }
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: white; }

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    min-height: 280px; } }
.footer-links {
  list-style-type: none; }
  .footer-links li {
    margin-top: .5em; }

/* Medium only */
/* Large and up */
/* Large only */
