@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/* Mobile first */
.page-wrap {
  min-height: 100%; }
  .page-wrap .hero1 {
    height: auto;
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #1e364a; }
    .page-wrap .hero1 img {
      width: 100%; }
  .page-wrap .mission h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    margin: 20px 0px;
    letter-spacing: 3px; }
  .page-wrap .mission p {
    text-align: center;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    margin-bottom: 20px; }
  .page-wrap .video {
    position: relative;
    padding: 0px; }

/* Medium and up */
@media screen and (min-width: 40em) {
  .page-wrap .missionRow {
    margin-bottom: -180px;
    margin-top: 40px;
    width: 90%; }
    .page-wrap .missionRow .mission {
      margin-bottom: 65px; }
      .page-wrap .missionRow .mission h1 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 0px;
        letter-spacing: 2.5px;
        font-size: 32px; }
      .page-wrap .missionRow .mission p {
        text-align: left;
        letter-spacing: 2.5px;
        font-size: 18px; }
  .page-wrap .videoRow {
    margin-bottom: 200px;
    width: 80%; }
    .page-wrap .videoRow .video {
      height: 300px; }
    .page-wrap .videoRow .videoDesc {
      padding-left: 40px; }
      .page-wrap .videoRow .videoDesc h1 {
        font-family: "Montserrat", sans-serif;
        text-align: left;
        letter-spacing: 3px;
        font-size: 32px; }
      .page-wrap .videoRow .videoDesc p {
        font-family: "Avenir", sans-serif;
        letter-spacing: 2.5px;
        font-size: 18px; } }
/* Medium only */
/* Large and up */
/* Large only */
