@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
/* Mobile first */
.title-bar {
  background: white;
  border-bottom: 2px solid #1e364a;
  padding-bottom: 50px;
  font-family: 'Montserrat', sans-serif; }

.menu-icon {
  float: right;
  margin: 10px 0px;
  background: black;
  width: 35px;
  height: 21px; }

.menu > li {
  text-align: right; }

.top-bar {
  background: white; }
  .top-bar .top-bar-left a {
    color: black;
    font-family: "Montserrat", sans-serif; }
  .top-bar .top-bar-right a {
    color: black;
    font-family: "Montserrat", sans-serif; }
  .top-bar ul {
    background: white; }

.logo {
  width: 115px;
  height: 80px;
  background-size: 115px 80px;
  border-radius: 100%;
  position: absolute;
  background-image: url("../img/nalukaiLogo.png"); }
.page-wrap .mission h1 {
  color: #1F3749;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0px;
  letter-spacing: 3px; }
.page-wrap .mission p {
  color: #1F3749;
  text-align: center;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin-bottom: 20px; }
.page-wrap .mission h2 {
  color: #1F3749;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  letter-spacing:3px;
}

.line {
  padding-left: 50px;
  padding-right: 50px;
}


/* moments image/banner */
#img2 {
  display:block;
  padding-left:10px;
  padding-right:10px;}
#img1 {
  display:none; }


/* Medium and up */
@media screen and (min-width: 40em) {
    .page-wrap .missionRow {
    margin-top: 40px;
    width: 90%; }
    .page-wrap .missionRow .mission {
      margin-bottom: 65px; }
      .page-wrap .missionRow .mission h1 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 0px;
        letter-spacing: 2.5px;
        font-size: 24px; }
      .page-wrap .missionRow .mission p {
        text-align: left;
        letter-spacing: 2.5px;
        font-size: 14px; }
  .top-bar {
    height: 120px; }
    .top-bar .top-bar-left {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      left: 20%; }
    .top-bar .top-bar-right {
      position: relative;
      top: 50%;
      transform: translate(0%, -50%);
      right: 20%; }
    .top-bar .logo {
      width: 145px;
      height: 110px;
      background-size: 145px 110px;
      border-radius: 100%;
      position: absolute;
      background-image: url("../img/nalukaiLogo.png");
      left: 50%;
      transform: translate(-50%, 0%); } 
      #img2 {
      display:none; }
      #img1 {
      display:block; }
  }