@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/* Mobile first */
.page-wrap {
  min-height: 100%; }
  .page-wrap .hero1 {
    height: auto;
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #1e364a; }
    .page-wrap .hero1 img {
      width: 100%; }
  .page-wrap .help {
    margin-top: 40px; }
    .page-wrap .help h1 {
      text-align: center;
      font-size: 24px;
      font-family: "Montserrat", sans-serif; }
    .page-wrap .help p {
      text-align: center;
      font-size: 16px;
      font-family: "Avenir", sans-serif; }
  .page-wrap .headshotRow {
    margin-top: 20px;
    margin-bottom: 10px; }
  .page-wrap .headshotRow:first-child {
    margin-top: 20px; }
  .page-wrap .headshotRow:last-child {
    margin-bottom: 20px; }
  .page-wrap .callout {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
  .page-wrap .callout > :first-child {
    font-size: 28px;
    font-family: "Montserrat", sans-serif; }
  .page-wrap .callout > .studDet {
    list-style-type: none;
    font-family: "Avenir", sans-serif;
    font-size: 16px; }
  .page-wrap .callout > :last-child {
    font-size: 16px;
    font-family: "Avenir", sans-serif; }
  .page-wrap .triangle {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid rgba(10, 10, 10, 0.25); }

/* Medium and up */
@media screen and (min-width: 40em) {
  .page-wrap .help h1 {
    font-size: 32px; }
  .page-wrap .help p {
    font-size: 18px; }
  .page-wrap .callout {
    width: 70%;
    margin-left: auto;
    margin-right: auto; }
  .page-wrap .headshotRow {
    margin-top: 40px; }
  .page-wrap .headshotRow:first-of-type {
    margin-top: 80px; }
  .page-wrap .headshotRow:last-child {
    margin-bottom: 100px; }
  .page-wrap .callout > :first-child {
    font-size: 32px; }
  .page-wrap .callout > .studDet {
    font-size: 18px; }
  .page-wrap .callout > :last-child {
    font-size: 18px; } }
/* Medium only */
/* Large and up */
/* Large only */
