@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial; }

/* Mobile first */
.page-wrap {
  min-height: 100%; }
  .page-wrap .headshotRow {
    margin-bottom: 20px;
    /* headshots */ }
    .page-wrap .headshotRow .headshotCont {
      margin-top: 20px; }
  .page-wrap .callout {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }
  .page-wrap .triangleLeft {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid rgba(10, 10, 10, 0.25);
    margin-left: 30px; }
  .page-wrap .triangleCenter {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid rgba(10, 10, 10, 0.25);
    margin-left: 160px; }
  .page-wrap .triangleRight {
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-bottom: 24px solid rgba(10, 10, 10, 0.25);
    margin-left: 290px; }

/* Medium and up */
@media screen and (min-width: 40em) {
  .page-wrap .callout {
    width: 68.7%;
    margin-left: auto;
    margin-right: auto; }
  .page-wrap .triangleLeft {
    margin-left: 420px; }
  .page-wrap .triangleCenter {
    margin-left: 840px; }
  .page-wrap .triangleRight {
    margin-left: 1230px; } }
/* Medium only */
/* Large and up */
/* Large only */
