/* Mobile first */
.page-wrap {
  min-height: 100%; }
  .page-wrap .headshotRow {
    margin-bottom: 20px;
    /* headshots */ }
    .page-wrap .headshotRow .headshotCont {
      margin-top: 20px; }
  .page-wrap .callout {
    width: 95%;
    margin-left: auto;
    margin-right: auto; }

/* Medium and up */
@media screen and (min-width: 40em) {
  .page-wrap .callout {
    width: 68.7%;
    margin-left: auto;
    margin-right: auto; } }
/* Medium only */
/* Large and up */
/* Large only */
