@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
.page-wrap .mission h1 {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  margin: 20px 0px;
  letter-spacing: 3px; }
.page-wrap .mission p {
  text-align: center;
  color: #1F3749;
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  margin-bottom: 20px; }
.page-wrap .mission h2 {
  color: #1F3749;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  letter-spacing:3px;
  padding-top:20px; }
.sline .mission h1 {
  color: #1F3749;
  text-align: center;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  margin: 20px 0px;
  letter-spacing: 3px; 
}
.missionRow img {
  margin-bottom: 20px;
}

.missionRow:last-of-type {
  margin-bottom: 40px;
}


.sline {
  margin-bottom: 20px;
  background-color: #1F3749;
  padding: 30px 0px; 
}
.line {
  padding-left: 50px;
  padding-right: 50px;
}

/* showcase picture styling/formatting */
#img2 {
  display:block; 
  padding-left:10px;
  padding-right:10px;
  padding-bottom:20px;}
#img1 {
  display:none;
  margin-bottom: 40px; }

/* Medium and up */
@media screen and (min-width: 40em) {
    .page-wrap .missionRow {
    margin-top: 40px;
    width: 90%; }
    .page-wrap .missionRow .mission {
      margin-bottom: 65px; }
      .page-wrap .missionRow .mission h1 {
        text-align: left;
        margin-top: 20px;
        margin-bottom: 0px;
        letter-spacing: 2.5px;
        font-size: 32px; }
      .page-wrap .missionRow .mission p {
        text-align: left;
        letter-spacing: 2.5px;
        font-size: 18px; }
    .sline {
      margin-top: 40px;
    }
      #img2 {
    }
    display:none; }
      #img1 {
        display:block; }
      .line {
      padding-top:50px;
    }


/* Medium only */
/* Large and up */
/* Large only */
