@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
/* Mobile first */
  .page-wrap .mission h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 20px 0px;
    letter-spacing: 3px; }
  .page-wrap .mission p {
    text-align: center;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    margin-bottom: 20px; }
    a {
      color:black;
    }
    a:hover {
      color:gray;
    }
    a:active {
      color:gray;
    }



.page-wrap:after {
  content: "";
  display: block; }

/* Medium and up */
/* Medium only */
/* Large and up */
/* Large only */
