@font-face {
  font-family: "Avenir";
  src: url("../res/Avenir.ttf") format("truetype"); }
/* Mobile first */
  .page-wrap .mission h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 20px 0px;
    letter-spacing: 3px; }
  .page-wrap .mission p {
    text-align: center;
    font-family: "Avenir", sans-serif;
    font-size: 16px;
    margin-bottom: 20px; }
  .page-wrap .mission h2 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat",sans-serif;
    font-size: 18px; 
    margin-bottom: 20px;}
    a {
      color:black;
    }
    a:hover {
      color:gray;
    }
    a:active {
      color:gray;
    }

.page-wrap:after {
  content: "";
  display: block; }

/* spotlight image formatting */
#img2 {
  display:none; }
#img1 {
  display:block; }

/* Medium and up */
@media screen and (min-width: 40em) {
#img2 {
  display:block; }
#img1 {
  display:none; }

/* Medium only */
/* Large and up */
/* Large only */
