$primary-color: #1e364a;
$secondary-color: #80CEBE;
$tertiary-color: #70AFA7;
$quaternary-color: #95A3AA;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Avenir', sans-serif;

@mixin logo($logo-width, $logo-height) {
	width: $logo-width;
	height: $logo-height;
	background-size: $logo-width $logo-height;
	border-radius: 100%;
	position: absolute;
	background-image: url('../img/nalukaiLogo.png');
}

@font-face {
    font-family: "Avenir";
    src: url("../res/Avenir.ttf") format("truetype");
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.footer {
  background-color: $primary-color;
  padding: 2rem 2.5rem;
  text-align: center;
  color: white;

	.contact {

		h1 {
			text-align: left;
			font-family: $primary-font;
			text-transform: uppercase;
			font-size: 24px;	
		}

		p {
			text-align: left;
			font-family: $secondary-font;
			margin: 0;
			font-size: 16px;
		}
	}

	.social {

		margin-top: 30px;

		i {
			font-size: 20px;
		}

		ul.social-network {
			list-style: none;
			display: inline;
			margin-left:0 !important;
			padding: 0;
		}
		ul.social-network li {
			display: inline;
			margin: 0 5px;
		}

		/* footer social icons */
		.social-network a.icoFacebook:hover {
			background-color:#3B5998;
		}
		.social-network a.icoInstagram:hover {
			background-color: #c13584;
			color: white;
		}
		.social-network a.icoTwitter:hover {
			background-color:#33ccff;
		}

		a.socialIcon:hover, .socialHoverClass {
			color:#44BCDD;
		}

		.social-circle li a {
			display:inline-block;
			position:relative;
			margin:0 auto 0 auto;
			-moz-border-radius:50%;
			-webkit-border-radius:50%;
			border-radius:50%;
			text-align:center;
			width: 50px;
			height: 50px;
			font-size:20px;
		}
		.social-circle li i {
			margin: 0;
			line-height:50px;
			text-align: center;
		}

		a {
		 background-color: transparent;
		 border: 2px solid white;   
		}
	}

	.values {

		margin-top: 30px;
		text-align: left;

		p {
			font-size: 16px;
		}
	}
}

.footer {
	h4 {
		color: white;
		font-size: 1em;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 2.5rem;
		margin-bottom: 10px;
	}
	p, a {
		font-weight: 300; 
		font-size: .8em;
		color: white;
	}
}


/* Medium Up */
@media screen and (min-width: 40em) {
	.footer {
		padding: 0px;

		height: auto;

		.contact {
			padding-top: 2.5rem;
			padding-left: 30px;
			padding-right: 0px;
		}

		.social {
			margin-top: 70px;
		}

		.hex {
			margin-top: 0px;
			padding-left: 0px;
			clear: right;

			img {
				height: 206px;		
			}
		}

		.values {
			padding: 0px;
			margin-top: 70px;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


