$primary-color: #1e364a;
$secondary-color: #80CEBE;
$tertiary-color: #70AFA7;
$quaternary-color: #95A3AA;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Avenir', sans-serif;

@mixin logo($logo-width, $logo-height) {
		width: $logo-width;
		height: $logo-height;
		background-size: $logo-width $logo-height;
		border-radius: 100%;
		position: absolute;
		background-image: url('../img/nalukaiLogo.png');
}

@font-face {
    font-family: "Avenir";
    src: url("../res/Avenir.ttf") format("truetype");
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


/* Mobile first */
.page-wrap {
	min-height: 100%;

	.hero1 {
		height: auto;
		width: 100%;
		padding: 0;
		
		border-bottom: 2px solid $primary-color;

		img {
			width: 100%;
		}
	}

	.mission {
		h1 {
			text-align: center;
			text-transform: uppercase;
			font-family: $primary-font;
			margin: 20px 0px;
			letter-spacing: 3px;
		}

		p {
			text-align: center;
			font-family: $secondary-font;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.video {
		height: 200px;
		widows: 100%;
		background-color: #eee;
		position: relative;

		.playButton {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			border: 2px solid white;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);


			.play {
				position: absolute;
				left: 55%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 0px;
				border-left: 32px solid #fff;
				border-top: 24px solid transparent;
				border-bottom: 24px solid transparent;
			}

		}

	}
}

/* Medium and up */
@media screen and (min-width: 40em) {
	.page-wrap {
		.missionRow {

			margin-bottom: -180px;
			margin-top: 40px;
			width: 90%;

			.mission {

				margin-bottom: 65px;

				h1 {
					text-align: left;
					margin-top: 20px;
					margin-bottom: 0px;
					letter-spacing: 2.5px;
					font-size: 24px;
				}

				p {
					text-align: left;
					letter-spacing: 2.5px;
					font-size: 14px;
				}
			}
		}

		.videoRow {

			margin-bottom: 200px;
			width: 80%;

			.video {
				height: 300px;
			}

			.videoDesc {

				padding-left: 40px;

				h1 {
					font-family: $primary-font;
					text-align: left;
					letter-spacing: 3px;
					font-size: 32px;
				}

				p {
					font-family: $secondary-font;
					letter-spacing: 2.5px;
					font-size: 14px;
				}
				
			}
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


