$primary-color: #1e364a;
$secondary-color: #80CEBE;
$tertiary-color: #70AFA7;
$quaternary-color: #95A3AA;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Avenir', sans-serif;

@mixin logo($logo-width, $logo-height) {
		width: $logo-width;
		height: $logo-height;
		background-size: $logo-width $logo-height;
		border-radius: 100%;
		position: absolute;
		background-image: url('../img/nalukaiLogo.png');
}

@font-face {
    font-family: "Avenir";
    src: url("../res/Avenir.ttf") format("truetype");
}


/* Mobile first */
.page-wrap {
	min-height: 100%;
	margin-bottom: -195px;

	.hero1 {
		height: 200px;
		width: 100%;
		background-color: #eee;
		border-bottom: 2px solid $primary-color;
	}

	.mission {
		h1 {
			text-align: center;
			text-transform: uppercase;
			font-family: $primary-font;
			margin: 20px 0px;
			letter-spacing: 3px;
		}

		p {
			text-align: center;
			font-family: $secondary-font;
			font-size: 16px;
			margin-bottom: 20px;
		}
	}

	.video {
		height: 200px;
		widows: 100%;
		background-color: #eee;
		position: relative;

		.playButton {
			width: 100px;
			height: 100px;
			border-radius: 100%;
			border: 2px solid white;

			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);


			.play {
				position: absolute;
				left: 55%;
				top: 50%;
				transform: translate(-50%, -50%);

				width: 0px;
				border-left: 32px solid #fff;
				border-top: 24px solid transparent;
				border-bottom: 24px solid transparent;
			}

		}

	}
}

.page-wrap:after {
		content: "";
		display: block;
}


/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


