$primary-color: #1e364a;
$secondary-color: #80CEBE;
$tertiary-color: #70AFA7;
$quaternary-color: #95A3AA;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Avenir', sans-serif;

@mixin logo($logo-width, $logo-height) {
		width: $logo-width;
		height: $logo-height;
		background-size: $logo-width $logo-height;
		border-radius: 100%;
		position: absolute;
		background-image: url('../img/nalukaiLogo.png');
}

@font-face {
    font-family: "Avenir";
    src: url("../res/Avenir.ttf") format("truetype");
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Mobile first */

.page-wrap {
	min-height: 100%;

	.headshotRow {

		margin-bottom: 20px;

		/* headshots */
		.headshotCont {
			margin-top: 20px;
		}
	}

	.callout {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.triangleLeft {
		width: 0; 
		height: 0; 
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-bottom: 24px solid rgba(10, 10, 10, 0.25);
		margin-left: 30px;
	}

	.triangleCenter {
		width: 0; 
		height: 0; 
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-bottom: 24px solid rgba(10, 10, 10, 0.25);
		margin-left: 160px;
	}

	.triangleRight {
		width: 0; 
		height: 0; 
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-bottom: 24px solid rgba(10, 10, 10, 0.25);
		margin-left: 290px;
	}
}


/* Medium and up */
@media screen and (min-width: 40em) {
	.page-wrap {
		.callout {
			width: 68.7%;
			margin-left: auto;
			margin-right: auto;
		}

		.triangleLeft {
			margin-left: 420px;
		}

		.triangleCenter {
			margin-left: 840px;
		}

		.triangleRight {
			margin-left: 1230px;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


