$primary-color: #1e364a;
$secondary-color: #80CEBE;
$tertiary-color: #70AFA7;
$quaternary-color: #95A3AA;
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Avenir', sans-serif;
$desktop-font-size-header: 32px;
$mobile-font-size-header: 24px;
$desktop-font-size-paragraph: 18px;
$mobile-font-size-paragraph: 16px;

@mixin logo($logo-width, $logo-height) {
		width: $logo-width;
		height: $logo-height;
		background-size: $logo-width $logo-height;
		border-radius: 100%;
		position: absolute;
		background-image: url('../img/nalukaiLogo.png');
}

@font-face {
    font-family: "Avenir";
    src: url("../res/Avenir.ttf") format("truetype");
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

/* Mobile first */

.page-wrap {

	min-height: 100%;

	.hero1 {
		height: auto;
		width: 100%;
		padding: 0;
		
		border-bottom: 2px solid $primary-color;

		img {
			width: 100%;
		}
	}

	.help {

		margin-top: 40px;

		h1 {
			text-align: center;
			font-size: $mobile-font-size-header;
			font-family: $primary-font;
		}

		p {
			text-align: center;
			font-size: $mobile-font-size-paragraph;
			font-family: $secondary-font;
		}
	}

	.headshotRow {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.headshotRow:first-child {
		margin-top: 20px;
	}

	.headshotRow:last-child {
		margin-bottom: 20px;
	}

	.callout {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	// names
	.callout > :first-child {
		font-size: 28px;
		font-family: $primary-font;
	}

	.callout > .studDet {
		list-style-type: none;
		font-family: $secondary-font;
		font-size: $mobile-font-size-paragraph;
	}

	// anecdote
	.callout > :last-child {
		font-size: 16px;
		font-family: $secondary-font;
	}

	.triangle {
		width: 0; 
		height: 0; 
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-bottom: 24px solid rgba(10, 10, 10, 0.25);
	}
}


/* Medium and up */
@media screen and (min-width: 40em) {
	.page-wrap {

		.help {
			h1 {
				font-size: $desktop-font-size-header;
			}
			
			p {
				font-size: $desktop-font-size-paragraph;
			}
		}

		.callout {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
		}

		.headshotRow {
			margin-top: 40px;
		}

		.headshotRow:first-of-type {
			margin-top: 80px;
		}

		.headshotRow:last-child {
			margin-bottom: 100px;
		}

		// names
		.callout > :first-child {
			font-size: $desktop-font-size-header;
		}	

		.callout > .studDet {
			font-size: $desktop-font-size-paragraph;
		}

		// anecdote
		.callout > :last-child {
			font-size: $desktop-font-size-paragraph;
		}	
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


